html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, code, img, q, dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  padding: 0.5em; }

[role="button"] {
  cursor: pointer; }

.baseURL {
  display: flex;
  align-items: center;
  width: 100%; }
  .baseURL .urlForm {
    flex: 1; }
    .baseURL .urlForm .urlInput {
      width: 100%; }

.testControl .play, .testControl .rec {
  display: inline-block; }
.testControl .play img {
  margin-left: 0.5em; }
.testControl .rec {
  position: absolute;
  right: 0; }
  .testControl .rec img {
    position: absolute;
    right: 0; }
.testControl .range {
  width: 7em; }

.commandGrid li {
  width: 100%; }
  .commandGrid li .draggable {
    cursor: move;
    width: 1em; }
  .commandGrid li .target, .commandGrid li .value {
    width: 25%; }
  .commandGrid li .delete {
    float: right;
    width: 3em; }
