html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, img, q, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } table { border-collapse: collapse; border-spacing: 0; }

.baseURL {
}
.testControl {
  .play, .rec {
    display: inline-block;
  }
  .rec {
    position: absolute;
    right: 0;
    img {
      position: absolute;
      right: 0;
    }
  }
  .range {
    width: 7em;
  }
}
.testControl {
  .rec{}
}
.commandGrid {
  .type, .value {
    width: 5em;
  }
  .type {
  }
  .target {
  }
  .value {
  }
}