html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, img, q, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role="button"] {
  cursor: pointer; }

.baseURL .urlInput {
  width: 70%; }

.testControl .play, .testControl .rec {
  display: inline-block; }
.testControl .play img {
  margin-left: 0.5em; }
.testControl .rec {
  position: absolute;
  right: 0; }
  .testControl .rec img {
    position: absolute;
    right: 0; }
.testControl .range {
  width: 7em; }

.commandGrid .type, .commandGrid .value {
  width: 5em; }
.commandGrid .draggable {
  cursor: move; }
.commandGrid .type {
  width: 20%; }
.commandGrid .target {
  width: 30%; }
.commandGrid .value {
  width: 30%; }
.commandGrid .delete {
  position: absolute;
  right: 0;
  width: 10%; }
